*{
    margin: 0;
    padding: 0;
    border: none;
}
.nav{
    margin-top: 50px;
    margin-bottom: 20px;
}
.btn-b {
    color: white;
    text-decoration: none;
}
.btn-b:hover {
    color: yellow;
    text-decoration: none;
}
#img-book {
    max-width: 200px;
    max-height: 300px;
}
.tbl-describes {
    width: 200px;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
}
.nav-link {
    width: 120px;
    text-align: center;
}
.nav-link:hover {
    color: yellow;
    background: #7019d9;
}
.title {
    margin-top: 30px;
    text-align: center;
}
/*.table {*/
/*    width: 100vw;*/

/*}*/
/*.container {*/
/*padding-left: 0px;*/
/*margin-right: 100px;*/
/*margin-left: 100px;*/
/*}*/
